 <nav class="logo_gov">
        <div class="div_gov">
            <div class="sub_gov">
                <img  class="logo_estado" src="https://apstatic.prodam.am.gov.br/images/logo_governo/logo-gov-horizontal-contraste.png" />
            </div>

            <div class="link_gov">
                <a  href="https://www.transparencia.am.gov.br" target="_blank"> PORTAL DA TRANSPARÊNCIA</a>
                <a  href="https://diario.imprensaoficial.am.gov.br/" target="_blank" >DIÁRIO OFICIAL</a>
                <a href="https://falabr.cgu.gov.br/web/AM" target="_blank">
                    <img class="logo-ouvidoria" src="https://apstatic.prodam.am.gov.br/config/icons/fala-br.svg" />
                    OUVIDORIA E ACESSO À INFORMAÇÃO</a>

            </div>
        </div>
    </nav>

