{% load static %}

<header>
 <style>
/* Controla a altura da navbar */
.navbar {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  min-height: 56px; /* altura padrão do Bootstrap */
}

/* Imagem da logo */
.logo-img {
  height: 120px;             
  width: 200px;               
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast; /* melhora nitidez em navegadores baseados em WebKit */
  image-rendering: crisp-edges;
}
</style>
   <!-- Navbar -->
   <nav class="navbar navbar-expand-lg navbar-dark bg-rs">
      <div class="container-fluid">
         <div class="me-auto">
     <a class="navbar-brand" href="https://seusite.com/" target="_blank">
   <img id="logo" src="{% static 'images/gerlab4.png' %}" alt="Nova Logo" class="logo-img">
</a>
   </div>

    
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="me-3" method="POST" action="{% url 'geral' %}">
          {% csrf_token %}          
          <div class="form-white input-group" style="width: 250px">
            <input
              type="search"
              class="form-control rounded"
              placeholder="Pesquisar "
              aria-label="Search"
              name="nome_laboratorio"
              aria-describedby="search-addon"
              name="filter"
            />
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Filtro avançado
            </button>
                   
          </div>
        </form>

        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
        <div class="modal-dialog">
          <form method="POST" action="{% url 'geral' %}">
            {% csrf_token %}

          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Filtro Avançado
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>

            <div class="modal-body">
              <div class="row">
                <div class="col-md-8">
                  <input
                    class="form-control"
                    type="text"
                    name="nome_laboratorio"
                    placeholder="Nome do Laboratório"
                  />


                </div>
                <div class="col-md-4">
                  <select
                    class="form-select"
                    name="unidade"
                  >
                    <option value="">Unidade</option>
                    {% for unidade in laboratorios %}
                    <option value="{{ unidade.unidade }}">
                      {{ unidade.unidade }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
                <div>
                  <input class="form-control mt-2" type="text" name="responsavel" placeholder="Responsável" >
                  
                </div>
                <div>
                  <input class="form-control mt-2" type="text" name="pos" placeholder="Programas de Pós-graduação" >
                  
                </div>
                <div>
                  <input class="form-control mt-2" type="text" name="fomento" placeholder="N° do Fomento" >
                  
                </div>
                <div>
                  <input class="form-control mt-2" list="datalistOptions" id="exampleDataList" name="equipamento" placeholder="Nome do Equipamento">
                  
                  <datalist id="datalistOptions">
                    {% for option in options  %}
                    <option value="{{option.nome_equipamento}}">
                      {% endfor %}
                  </datalist>
                </div>
                <div>
                  <input class="form-control mt-2" type="text" name="grupo" placeholder="Nome do Grupo de Pesquisa" data-list="datalistGrupos">
                
              </div>
           

              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                  Pesquisar
                </button>
              </div>
            </form>
                        

              </div>
              </div>
            </div>

            </div>
          </div>
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
   
   <li class="nav-item">
    <a class="nav-link" href="/publico/geral">
        <i class="bi bi-house-door" style="font-size: 24px; vertical-align: middle;"></i>
    </a>
</li>
</ul>
<!-- Adicionando o botão de login -->
<ul class="navbar-nav">
  <li class="nav-item d-flex">
    <a class="nav-link mx-auto" href="/autenticacao/auth">
     <i class="bi bi-person-circle" style="font-size: 35px; alinhamento vertical: meio; margin: 10px;"></i>
    </a>
  </li>
</ul>

        </div>


      
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const button = document.querySelector(".navbar-toggler");
    const navbar = document.querySelector("#navbarSupportedContent");

    button.addEventListener("click", function () {
      navbar.classList.toggle("show"); // Adicione ou remova a classe 'show' para expandir ou recolher a barra de navegação
    });
  });
</script>